.contacts-area {
    height: 200px;
}

.contacts-area .contacts-area-address {
    display: block;
    font-size: 0.83em;
    font-style: normal;
    font-weight: bold;
}

.contacts-area .contacts-area-address a {
    text-decoration: none;
    color: inherit;
}