.header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    height: 3rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid seashell;
    z-index: 1;
    background-color: black;
}

.header .header-logo {
    height: 50px;
    margin-right: 12px;
}