@import './components/contacts.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/location.css';
@import './components/mission.css';
@import './components/nav-list.css';
@import './components/tea.css';

@import './layout/cell.css';
@import './layout/flex-container.css';
@import './layout/sticky.css';

/* Reset default padding and margin */

* {
    margin: 0;
    padding: 0;
}

/* General rules */

h2,
h3,
h4 {
    padding: 10px;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    color: seashell;
}

main {
    opacity: 0.9;
    text-align: center;
}